<div class="Background">
    <!-- <span class="Background__Logo">
        <img class="Background__Logo__Netflix" src="../../../assets/img/Logo_Netflix.png" alt="">
        <p class="Background__Logo__Login">登入</p>
    </span> -->
    <p class="Background__Title">不限時數的電影與節目，還有更多精彩內容。</p>
    <p class="Background__Subtitle">隨處都能觀賞，可隨時取消。</p>
    <span class="Background__Enterbar">
        <input type="text" class="Background__Enterbar__Mail" placeholder="電郵地址">
        <!-- <input  [(ngModel)] = 'this.test' type="text" class="Background__Enterbar__Mail" placeholder="電郵地址"> -->
        <button class="Background__Enterbar__Access">立即使用 ></button>
        <!-- <button (click)="this.reply()" class="Background__Enterbar__Access">立即使用 ></button> -->
    </span>
    <!-- <p>{{this.test}}</p> -->
    <!-- <button >@gmail.com</button>
    <button>@yahoo.com.tw</button>
    <button>@test.com</button> -->
    <p class="Background__Subtitle2">準備開心觀賞了嗎？請輸入您的電郵，以建立或存取您的帳戶。</p>
</div>
<div class="Tv">
    <span class="Tv__Textbox">
        <p class="Tv__Textbox__Title2">在電視上觀賞。</p>
        <p class="Tv__Textbox__Subtitle3">在智慧型電視、Playstation、Xbox、Chromecast、Apple TV、藍光播放器等多種裝置上觀賞。</p>
    </span>
    <span class="Tv__Animate"></span>
</div>
<div class="Download">
    <span class="Download__Phone"></span>
    <span class="Download__Textbox">
        <p class="Download__Textbox__Title2">下載您想看的節目，在外行動觀賞。</p>
        <p class="Download__Textbox__Subtitle3">幫您省下流量，離線觀賞您最喜歡的所有影片。</p>
    </span>
</div>
<div class="Mobile">
    <span class="Mobile__Textbox">
        <p class="Mobile__Textbox__Title2">隨處都能觀賞。</p>
        <p class="Mobile__Textbox__Subtitle3">隨您在手機、平板電腦、筆記型電腦和電視上串流不限時數的電影與節目，無額外費用。</p>
    </span>
    <span class="Mobile__Animate"></span>
</div>
<div class="QA">
    <p class="QA__Title2">常見問題解答</p>
    <ul class="QA__List">
        <li>Netflix是什麼?</li>
        <li>Netflix如何計費?</li>
        <li>在哪裡觀賞?</li>
        <li>如何取消?</li>
        <li>可以在Nexflix觀賞什麼內容?</li>
    </ul>
    <span class="QA__Enterbar">
        <input type="text" class="QA__Enterbar__Mail" placeholder="電郵地址">
        <button class="QA__Enterbar__Access">立即使用 ></button>
    </span>
    <p class="QA__Subtitle2">準備開心觀賞了嗎？請輸入您的電郵，以建立或存取您的帳戶。</p>
</div>
<!-- <div class="Bottom">
    <p class="Bottom__Text1">有疑問嗎？請聯絡我們。</p>
    <span class="Bottom__Text2">
        <ul>
            <li>常見問題</li>
            <li>投資人關係</li>
            <li>隱私權</li>
            <li>速度測試</li>
        </ul>
        <ul>
            <li>說明中心</li>
            <li>工作機會</li>
            <li>Cookie 設定</li>
            <li>法律聲明</li>
        </ul>
        <ul>
            <li>帳戶</li>
            <li>觀賞方式</li>
            <li>企業資訊</li>
            <li>Netflix 原創作品</li>
        </ul>
        <ul>
            <li>媒體中心</li>
            <li>使用條款</li>
            <li>聯絡我們</li>
        </ul>       
    </span>
    <span class="Bottom__Textbox2">
        <p>中文</p>
    </span>
    <p class="Bottom__Text3">Netflix 台灣</p>
</div> -->