<div class="Background">
    <p>不限時數的電影與節目，還有更多精彩內容。</p>
    <p>隨處都能觀賞，可隨時取消。 A</p>
    <div class="Background__Email">
        <input type="text" placeholder="電郵地址">
        <button>立即使用 ></button>
    </div>
    <p>準備開心觀賞了嗎？請輸入您的電郵，以建立或存取您的帳戶。</p>
</div>
<div class="Tv">
    <div class="Tv__Content">
        <p>在電視上觀賞。</p>
        <p>在智慧型電視、Playstation、Xbox、Chromecast、Apple TV、藍光播放器等多種裝置上觀賞。</p>
    </div>
    <span></span>
</div>
<div class="Download">
    <span></span>
    <div class="Download__Content">
        <p>下載您想看的節目，在外行動觀賞。</p>
        <p>幫您省下流量，離線觀賞您最喜歡的所有影片。</p>
    </div>
</div>
<div class="Mobile">
    <div class="Mobile__Content">
        <p>隨處都能觀賞。</p>
        <p>隨您在手機、平板電腦、筆記型電腦和電視上串流不限時數的電影與節目，無額外費用。</p>
    </div>
    <span></span>
</div>
<div class="QA">
    <p>常見問題解答</p>
    <ul class="QA__List">
        <li>Netflix是什麼?</li>
        <li>Netflix如何計費?</li>
        <li>在哪裡觀賞?</li>
        <li>如何取消?</li>
        <li>可以在Nexflix觀賞什麼內容?</li>
    </ul>
    <div class="QA__Email">
        <input type="text" placeholder="電郵地址">
        <button>立即使用 ></button>
    </div>
    <p>準備開心觀賞了嗎？請輸入您的電郵，以建立或存取您的帳戶。</p>
</div>