<div class="Test container">
    <div class="row">
        <div class="col-12 col-xl-8 flex-row d-flex justify-content-between align-items-center">
            <p class="mt-5 m-xxl-3">1</p>
            <p>2</p>
            <p>3</p>
        </div>
        <div class="col-12 col-md-2 col-md-2 col-xl-4 mr-md-5 mr-xl-0">
            <p>4</p>
            <p>5</p>
            <p>6</p>
        </div>
        <div class="col-12 col-md-3 col-xl-3">
            <p>4</p>
            <p>5</p>
            <p>6</p>
        </div>
        <div class="col-12 col-xl-9">
            <div class="col">
                <p class="row-5">4</p>
                <p class="row-5">5</p>
                <p class="row-5">6</p>
            </div>
            <div class="alert alert-primary" role="alert">
                This is a primary alert—check it out!
              </div>
        </div>
    </div>
</div>